.contacts-container {
  width: 70%;
  margin-left: 5%;
  background: aliceblue;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.75);
  height: 100vh;
  min-height: 100%;
  min-width: 360px;
  transition: width .5s, margin .5s;
}
.block-input {
  display: block !important;
}
.add-contact-btn, .edit-contact-btn {
  padding: 6.5px 10px !important;
}
.contact-inputs {
  display: none;
}
.visible {
  display: block;
  width: 50%;
  margin: 0 auto;
}
.editing-inputs {
  width: 50%;
  margin: 0 auto;
}
.hide {
  display: none !important;
}
.contact {
  display: block !important;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: transform 0.3s;
  margin-bottom: 10px;
}
.contact:hover {
  transform: scale(1.003);
  border-color: #000;
}
.contact-data {
  display: flex;
}
.contact-delete-btn {
  margin-right: 40px;
}
.contact-add-input, .contact-edit-input {
  margin-bottom: 10px !important;
}
.add-contact-btn-link {
  text-decoration: none;
  display: block;
  margin: 0 auto;
  width: 190px;
}
.contact-add-input div, .contact-edit-input div {
  width: 100%;
}
.add-contact-control-btns {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.contact-add-error {
  color: red;
}
.contact-info {
  height: 100%;
  position: absolute;
  top: 56px;
  right: 0;
  width: 0;
  overflow: hidden;
  background: #ccc;
  transition: width .5s;

}
.opened-contact-info {
  width: 49.9%;
  margin-left: 0;
}
.opened-info-block {
  width: 50%;
  border: 1px solid #000;
}
.contact-info-items {
  margin-left: 50px;
  margin-top: 30px;
  font-size: 25px;
  font-family: monospace;
  width: 700px;
  display: flex;
  flex-direction: column;
}
.contact-info-item-wrapper {
  display: block;
  margin-bottom: 20px;
  position: relative;
}
.contact-info-block-item {
  font-family: fantasy;
  position: absolute;
  left: 30%;
}
.open-contact-info-link {
  margin-right: 20px;
}